<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Control</title>
    
    <!-- Bootstrap и стили -->
    <link rel="stylesheet" href="{% static 'css/css_bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/requests.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/theme/dracula.min.css">
</head>
<body>

<div class="container">
    <div id="client-info"></div>
</div>

<div class="sidebar" id="sidebar">
    <h2 class="toggle-header-name" id="toggle-header-name"></h2>
        <span class="indicator"></span>
    </h2>
    <div class="active-list" id="active-list">
        <div class="tab" onclick="filterDevices('active')">
            Online<span id="active-count"></span>
            <span class="indicator active"></span>
        </div>
        <div class="tab" onclick="filterDevices('inactive')">
            Offline<span id="inactive-count"></span>
            <span class="indicator inactive"></span>
        </div>
        <div class="tab" onclick="filterDevices('total')">
            Total <span id="total-count"></span>
            <span class="indicator total"></span>
        </div>
    </div> 
    <div class="nav-list">
        <div class="tab">
            <a href="{% url 'requests' %}" class="nav-link">
                <i class="fas fa-share"></i> Requests
            </a>
        </div>
        <div class="tab">
            <a href="{% url 'main' %}" class="nav-link"><i class="fas fa-home"></i> Home</a>
        </div>
    </div>
</div>

<div class="command-container">
    <textarea id="command-input" placeholder="Введите команду..."></textarea>
    <button id="execute-button">Выполнить</button>
</div>

<div class="artifact-search-table table table-dark table-striped" id="artifact-search-table" >
    <table class="table-sm table-hover">
        <tbody>
            {% for art in artifact %}
            <tr class="text-center">
                <td><button onclick="loadArtifact('{{ art.name }}')">{{ art.name }}</button></td>
            </tr>           
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="results-container" class="hidden">
    <table id="results-table" class="table table-dark table-striped">
        <thead>
            <tr id="table-header"></tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
</div>

<div id="artifact-modal" class="modal">
    <div class="modal-content artifact-modal">
        <div class="modal-header-controls">
            <button class="btn btn-outline-danger btn-sm" id="artifact-close">
                <i class="fas fa-times"></i>
            </button>
            <button class="btn btn-success btn-sm" id="run-artifact-btn">
                <i class="fas fa-play"></i> Выполнить
            </button>
        </div>
        <h4 id="artifact-title" class="mt-2">Артефакт</h4>
        <div id="artifact-editor" class="codemirror-wrapper"></div>
    </div>
</div>

<script defer src="{% static 'js/requests.js' %}"></script>
<script src="{% static 'js/js_bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/mode/yaml/yaml.min.js"></script>

</body>
</html>
