asgiref==3.8.1
cffi==1.17.1
cryptography==43.0.1
Django==5.1.1
grpcio==1.66.2
grpcio-tools==1.66.2
protobuf==5.28.2
psycopg2==2.9.9
pycparser==2.22
python-decouple==3.8
pytz==2024.2
pyvelociraptor==0.1.8
PyYAML==6.0.2
setuptools==75.1.0
sqlparse==0.5.1
