<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaptorControl</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> <!-- Подключение CSS файла -->
</head>
<body>

<div class="sidebar">
    <h2 class="toggle-header-name" id="toggle-header-name">RaptorControl</h2>
    <h2 class="toggle-header" onclick="toggleDevicesList()">Устройства</h2>
    <div class="devices-list" id="devices-list">
        <div class="tab" onclick="toggleDevices('debian')">
            Debian <span id="debian-status">active (3)</span>
            <span class="indicator active"></span>
        </div>
        <div class="tab" onclick="toggleDevices('rhel')">
            RHEL <span id="rhel-status">inactive (1)</span>
            <span class="indicator inactive"></span>
        </div>
        <div class="tab" onclick="toggleDevices('windows')">
            Windows <span id="windows-status">active (5)</span>
            <span class="indicator active"></span>
        </div>
        <div class="tab" onclick="toggleDevices('ubuntu')">
            Ubuntu <span id="ubuntu-status">inactive (2)</span>
            <span class="indicator inactive"></span>
        </div>
    </div>
</div>

<div class="content">
    <h1>Список устройств</h1>
    <table class="device-list">
        <thead>
            <tr>
                <th>#</th>
                <th>UUID</th>
                <th>Последний пользователь</th>
                <th>Local Name</th>
                <th>IP-адрес</th>
                <th>Платформа</th>
                <th>Версия ОС</th>
                <th>Время последнего запроса</th>
            </tr>
        </thead>
        <tbody id="device-table-body">
            <!-- Динамически добавляемые строки устройств -->
        </tbody>
    </table>
</div>

<script src="{% static 'js/main.js' %}"></script> <!-- Подключение JavaScript файла -->
</body>
</html>
