<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaptorControl</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> <!-- Подключение CSS файла -->
</head>
<body>

<div class="sidebar">
    <h2 class="toggle-header-name" id="toggle-header-name">RaptorControl</h2>
    <h2 class="toggle-header" onclick="toggleDevicesList()">Устройства</h2>
    <div class="devices-list" id="devices-list">
        <div class="tab" onclick="toggleDevices('debian')">
            Debian <span id="debian-status">active (3)</span>
            <span class="indicator active"></span>
        </div>
        <div class="tab" onclick="toggleDevices('rhel')">
            RHEL <span id="rhel-status">inactive (1)</span>
            <span class="indicator inactive"></span>
        </div>
        <div class="tab" onclick="toggleDevices('windows')">
            Windows <span id="windows-status">active (5)</span>
            <span class="indicator active"></span>
        </div>
        <div class="tab" onclick="toggleDevices('ubuntu')">
            Ubuntu <span id="ubuntu-status">inactive (2)</span>
            <span class="indicator inactive"></span>
        </div>
    </div>
</div>

<div class="content">
    <h1>Список устройств</h1>
    <button onclick="fetchDevices()">Refresh</button>
    <table class="device-list">
        <thead>
            <tr>
                <th>#</th>
                <th>Host Name</th>
                <th>Uptime</th>
                <th>Boot Time</th>
                <th>Processes</th>
                <th>OS</th>
                <th>Platform</th>
                <th>Kernel Version</th>
                <th>Architecture</th>
            </tr>
        </thead>
        <tbody id="device-table-body">
            {% for device in devices %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ device.hostname }}</td>
                <td>{{ device.uptime }}</td>
                <td>{{ device.boot_time }}</td>
                <td>{{ device.procs }}</td>
                <td>{{ device.os }}</td>
                <td>{{ device.platform }}</td>
                <td>{{ device.kernel_version }}</td>
                <td>{{ device.arch }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'js/main.js' %}"></script> <!-- Подключение JavaScript файла -->
</body>
</html>
