<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.36/dist/vue.global.prod.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                artifacts: [],
                selectedKey: null
            };
        },
        mounted() {
            fetch('/api/artifacts/')
                .then(res => res.json())
                .then(data => {
                    this.artifacts = Object.entries(data).map(([key, value]) => ({
                        name: key,
                        ...value
                    }));
                });
        },
        computed: {
            selectedArtifact() {
                return this.artifacts.find(a => a.name === this.selectedKey);
            }
        },
        template: `
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h4>Артефакты</h4>
                        <ul>
                            <li v-for="artifact in artifacts" :key="artifact.name" @click="selectedKey = artifact.name">
                                {{ artifact.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-8" v-if="selectedArtifact">
                        <h2>{{ selectedArtifact.name }}</h2>
                        <p>{{ selectedArtifact.description }}</p>
                        <pre>{{ selectedArtifact.command }}</pre>
                    </div>
                </div>
            </div>
        `
    });

    app.mount("#app");
</script>
