html, body {
    height: 90%; /* Устанавливаем высоту в 100% для html и body */
    margin: 0; /* Убираем отступы */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-size: cover; /* Изображение занимает весь фон */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Запрет повторения изображения */
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%); */
    width: 240px;
    z-index: 600;
    background-color: #212529;
    color: #ffffff;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff; /* Цвет заголовка */
}

.sidebar .tab {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #686767; /* Более светлый цвет для разделителей */
    font-size: 14px

}

.sidebar .tab:hover {
    background-color: #303030; /* Цвет фона при наведении */
}

.sidebar .tab span {
    color: #f60000; /* Цвет текста для табов */
}

.sidebar .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: rgb(58, 247, 16);
}

.inactive {
    background-color: red;
}

.content {
    margin-left: 230px; /* Отступ для боковой панели */
    padding: 20px;
    /* background-color: rgba(240, 240, 240, 0.8); Цвет фона для контента с прозрачностью */
    color: #000000; /* Цвет текста для контента */
    width: calc(100% - 220px); /* Устанавливаем ширину контента */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.device-list {
    border-collapse: collapse;
    width: 100%;
}


.devices-list {
    max-height: 0; /* Нескрываем список устройств по умолчанию */
    overflow: hidden;
    transition: max-height 0.5s ease;
}


.toggle-header {
    cursor: pointer; /* Указатель при наведении на заголовок */
    margin: 100px 0; /* Отступы для заголовка */
    font-weight: bold; /* Жирный шрифт для заголовка */
    text-align: center;
    font-size: 18px;
}

.toggle-header-name {
    margin: 10;
    text-align: center;
    font-size: 24px;
    
}