html, body {
    height: 90%; /* Устанавливаем высоту в 100% для html и body */
    margin: 0; /* Убираем отступы */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-size: cover; /* Изображение занимает весь фон */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Запрет повторения изображения */
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Высота навигационной панели */
    width: 240px;
    z-index: 600;
    background-color: #212529;
    color: #ffffff;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff; /* Цвет заголовка */
}

.sidebar .tab {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #686767; /* Более светлый цвет для разделителей */
    font-size: 14px;
}

.sidebar .tab:hover {
    background-color: #303030; /* Цвет фона при наведении */
}

.sidebar .tab span {
    color: #f60000; /* Цвет текста для табов */
}

.sidebar .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: rgb(58, 247, 16); /* Зеленый цвет для активных устройств */
}

.inactive {
    background-color: red; /* Красный цвет для неактивных устройств */
}

.content {
    margin-left: 220px; /* Отступ для боковой панели */
    padding: 20px;
    color: #000000; /* Цвет текста для контента */
    width: calc(100% - 220px); /* Устанавливаем ширину контента */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.device-list {
    border-collapse: collapse;
    width: 100%;
}

.devices-list {
    max-height: 100; /* Нескрываем список устройств по умолчанию */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.toggle-header {
    cursor: pointer; /* Указатель при наведении на заголовок */
    margin: 100px 0; /* Отступы для заголовка */
    font-weight: bold; /* Жирный шрифт для заголовка */
    text-align: center;
    font-size: 18px;
}

.toggle-header-name {
    margin: 10;
    text-align: center;
    font-size: 24px;
}

/* Новый стиль для вкладок Active и Inactive */
.tab-container {
    display: flex;
    justify-content: space-around; /* Расположение вкладок по горизонтали */
    margin-bottom: 20px; /* Отступ снизу */
}

.tab-button {
    padding: 10px 20px; /* Отступы для кнопок */
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tab-button.active-tab {
    background-color: rgb(58, 247, 16); /* Зеленый фон для активной вкладки */
    color: white; /* Белый цвет текста для активной вкладки */
}

.tab-button.inactive-tab {
    background-color: red; /* Красный фон для неактивной вкладки */
    color: white; /* Белый цвет текста для неактивной вкладки */
}

.tab-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Цвет фона при наведении */
}
