/* Устанавливаем высоту в 100% для html и body */
html, body {
    height: 90%; 
    margin: 0; /* Убираем отступы */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; 
    width: 240px;
    z-index: 600;
    background-color: #212529;
    color: #ffffff;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff; 
}

.sidebar .tab {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Центрируем элементы по вертикали */
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #686767; 
    font-size: 14px;
}

.sidebar .tab:hover {
    background-color: #303030; 
}

.sidebar .tab span {
    color: #fffefe; 
    margin-left: 5px; /* Отступ для числа */
}

.sidebar .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px; 
}

.active {
    background-color: rgb(58, 247, 16); /* Зеленый для Active */
}

.inactive {
    background-color: red; /* Красный для Inactive */
}

.content {
    margin-left: 230px; 
    padding: 20px;
    color: #000000; 
    width: calc(100% - 220px); 
    box-sizing: border-box; 
}

.devices-list {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.toggle-header {
    cursor: pointer; 
    margin: 100px 0; 
    font-weight: bold; 
    text-align: center;
    font-size: 18px;
}

.toggle-header :hover{
    background-color: #303030;
}


.toggle-header-name {
    margin: 10px 0 90px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.sidebar .toggle-header {
    cursor: pointer; /* Указатель при наведении на заголовок */
    margin: 90px 0 10px; /* Отступы для заголовка */
    font-weight: bold; /* Жирный шрифт для заголовка */
    font-size: 18px; /* Размер шрифта */
    padding: 10px; /* Отступ внутри заголовка */
}

.sidebar .toggle-header:hover {
    background-color: #303030; /* Цвет фона при наведении */
    
}

/* Стили для панели пользователя */
.user-panel {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для панели */
}

.user-panel #username {
    margin-right: 10px; /* Отступ между именем пользователя и иконкой */
    font-weight: bold;
    color: #303030; /* Убедитесь, что цвет контрастирует с фоном */
    font-size: 16px; /* Увеличьте размер шрифта, если он слишком маленький */
}

.user-panel .fas {
    transition: color 0.3s; /*Плавный переход в цвет*/
    margin: 5px;
}

.user-panel:hover .fas {
    color: #ec0c0c;
    cursor: pointer;

}


/* Стили для выпадающего списка */
.dropdown {
    display: none; /* Скрываем выпадающий список по умолчанию */
    position: absolute;
    top: 100%; /* Расположение ниже панели пользователя */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для выпадающего списка */
}

.dropdown a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}

.dropdown a:hover {
    background-color: #ec0c0c; /* Цвет фона при наведении */
}

/* Стили для кнопки выхода */
.logout-button {
    background-color: #faf7f7; /* Цвет фона для кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем границы */
    border-radius: 5px; /* Скругление углов */
    padding: 5px 10px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.logout-button:hover {
    background-color: #121213; /* Темный цвет при наведении */
}

/* Style for modal window */

/* Стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный фон */
}

/* Содержимое модального окна */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* Кнопка закрытия */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
