.artifact-search-table {
    position: fixed;
    top: 60px; 
    overflow-y: auto;
    max-height: 900px; /* Устанавливаем максимальную высоту таблицы */
    border-radius: 5px;
    
    
}

.artifact-search-table th, .artifact-search-table td {
    padding: 8px;
    font-size: 16px;
    border-bottom: 1px solid #333;
    color: #312f2f;
    text-align: left;
}

.artifact-search-table button {
    width: 100%;
    background: none;
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    padding: 1px;
    padding-left: 10px;
    cursor: default;
}

.artifact-search-table button:hover {
    background-color: #181818;
}

#artifact-search-table {
    display: flex;
    justify-content: flex-end;
}


#code-editor-container {
    position: relative; /* Остаётся в потоке документа */
    width: 73%;
    margin-left: 110px;
    margin-top: 200px;
    padding: 10px;
    /* background: #1e1e1e; */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 550px; /* Ограничение высоты */
    overflow: hidden; /* Скрывает скролл на контейнере */
    z-index: 10;
}

.CodeMirror {
    height: 500px !important; /* Высота редактора */
}

.CodeMirror-scroll {
    max-height: 1000px; /* Ограничение высоты области прокрутки */
    overflow-y: auto; /* Вертикальный скролл */
}
