.artifact-search-table {
    position: fixed;
    top: 60px; 
    overflow-y: auto;
    max-height: 1000px; /* Устанавливаем максимальную высоту таблицы */
    border-radius: 5px;
    
    
}

.artifact-search-table th, .artifact-search-table td {
    padding: 8px;
    font-size: 16px;
    border-bottom: 1px solid #333;
    color: #312f2f;
    text-align: left;
}

.artifact-search-table button {
    width: 100%;
    background: none;
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    padding: 1px;
    padding-left: 10px;
    cursor: default;
}

.artifact-search-table button:hover {
    background-color: #181818;  /* Слегка коричневый цвет */
}

#artifact-search-table {
    display: flex;
    justify-content: flex-end;
}
